@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@keyframes growDown {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 1000px;
  }
}

.growDown {
  overflow: hidden;
  animation: growDown 0.8s ease-out;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Onest", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}